@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');

body {
  background-color: #020617; /* bg */
  color: #f1f5f9;           /* text */
  font-family: 'Inter', system-ui, sans-serif;
}
